<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">

    <div class="container">
        <a class="navbar-brand" >
            <img src="https://cdn.svgporn.com/logos/gusto.svg" width="30" height="30" alt=""> 
            Taller Mecanico
        </a> 
        
    </div>
    <a class="navbar-dark" style="color: beige;" href="">Servicios</a> |||
    <a class="navbar-dark" style="color: beige;" href="">Vehiculos</a>
    
</nav>



<div class="container mt-5">
    <div class="row mt-5 justify-content-center">

        <div class="col-6">
            
            <h2> Registrar Vehiculo </h2>
           
            <form>
                <div class="form-group">
                    <label for="inputusuario">Id usuario</label>
                    <input  [(ngModel)]="idusuario" name="idusuario" class="form-control" id="inputusuario" placeholder="id">
                    <label for="inputplaca">Placa</label>
                    <input  name="placa"  [(ngModel)]="placa" placeholder="No. Placa" class="form-control"
                        id="inputplaca">
                    <label for="inputmodelo">Modelo</label>
                    <input  [(ngModel)]="modelo" name="modelo" class="form-control" id="inputmodelo" placeholder="Año Modelo">
                    <label for="inputmarca">Marca</label>
                    <input  [(ngModel)]="marca" name="marca" class="form-control" id="inputmarca" placeholder="Marca">
                    <label for="inputlinea">Linea</label>
                    <input  [(ngModel)]="linea" name="linea" class="form-control" id="inputlinea" placeholder="Linea">
                </div>
                

                <button  type="submit" (click)="registrarVehiculo()"  class="btn btn-outline-primary btn-block">Registrar</button>
               
            </form>
        </div>


    </div>
</div>
